*{
    margin: 0;
    padding: 0;
}
.header-container{
    background-color: #FFF8F3;
    background-image: url('../portfolio-resources/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.nev-container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    width: ;
}
h1{
    font-size: 30px;
}
.name{
    color: orange;
}
ul,li,a{
    text-decoration: none;
    list-style: none;
    display: flex;
    margin-left: 10px;
    align-items: center;
    color: black;
}
.hire-btn{
    padding: 15px;
        border-radius: 3px;
        border: none;
        background-color: orange;
        margin-left: 10px;
        color: white;
}
.header-image-conainer{
       display: flex;
       justify-content: center;
       justify-content: space-around;
       align-items: center;
       width: 90%;
       margin: auto;
}
.download-btn,.contact-btn{
    padding: 15px;
        border-radius: 3px;
        border: none;
        background-color: orange;
        color: white;
        margin-top: 10px;
        
}
.header-text>h3{
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}

.hardy-image{
    position: relative;
    top: 5px;
}
.about-text{
      text-align: center;
      background-color: #FFF8F3;
      margin: 200px;
      padding: 100px;

}
.about-contact{
     display: flex;
     justify-content: center;
     align-items: center;
     justify-content: space-around;
     margin-top: 18px;
}

.about-info{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 30px;
}
.what-i-do-seciton{
    text-align: center;
     width: 100%;
     margin: auto;
}
h5{
    font-size: 35px;
}

.section-title{
    text-align: center;
    font-size: 30px;
}
.section-description{
    text-align: center;
}
.skill-container{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 40px;
}
.skills{
    border-radius: 7px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    height: 277px;
}